<div id="<%= dom_id discussion %>">
  <p>
    <strong>User:</strong>
    <%= discussion.user.username %>
  </p>

  <p>
    <strong>Movie:</strong>
    <%= discussion.movie.title %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= discussion.title %>
  </p>

</div>
