<% search = Search.new %>
<%= form_with(model: search) do |form| %>

  <div class="input-group mb-3">
    <%= form.text_field :text, class: "form-control" %>
    <%= form.submit "search", class: "btn btn-primary" %>
  </div>
<% end %>
