<p style="color: green"><%= notice %></p>

<!-- result -->
<div id="movies_search_results" class="mb-4">
  <% if @result %>
    <% @result.each do |title| %>
      <%= button_to title, movies_path(title: title), class: "btn btn-light btn-block" %>
    <% end %>
  <% end %>
</div>